RewriteEngine On
RewriteRule ^api/parking$ api/parking.php [L]
RewriteRule ^api/bikes$ api/bikes.php [L]
RewriteRule ^api/transit$ api/transit.php [L]
RewriteRule ^api/gbfs/(.+)$ api/gbfs.php/$1 [L]

Header always set X-Frame-Options "DENY"
